api:
  url: "https://api-staging.brain-market.com"
frontend:
  url: "https://app-staging.brain-market.com"
  callback_path: "/callback"
cloudfront:
  url: "https://image-staging.brain-market.com"
service:
  TWITTER_KEY: ""
  TWITTER_SECRET: ""
  IP: ""
stripe:
  API_KEY:
  SECRET_KEY:
